#footer= ' © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  由
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo  
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo') + mupassant
  |  强力驱动.
